.about-sp{
  padding:100px 0;
  margin-top:80px;
  background:#f7f7fb;
}
.about-header{
  padding-top:10px;
  text-align:center;
}

.about-img{
  width:100%;
  border-radius:15px;
}

.about-title{
  font-size:40px;
  font-weight:700;
  margin-bottom:20px;
}

.about-text{
  font-size:18px;
  color:#555;
  margin-bottom:30px;
}

.about-btn{
  background:#6c2bd9;
  color:white;
  border:none;
  padding:14px 36px;
  border-radius:30px;
}

/* MOBILE */

@media(max-width:768px){

  .about-title{
    font-size:28px;
    text-align:center;
  }

  .about-text{
    text-align:center;
    font-size:16px;
  }

  .about-btn{
    display:block;
    margin:auto;
  }
}